a{
    text-decoration: none;
}
mat-card-content{
    margin: 10px 10px;
}
button{
    margin: 10px;
}
mat-card-subtitle{
    margin-bottom: 0%;
}
mat-card-actions{
    margin-left: 9px;
}
table {
    width: 100%;
  }
  