<mat-list role="list" class="sidebar">
    <mat-list-item role="listitem"><a href="users">List Users</a></mat-list-item>
    <!-- <mat-list-item role="listitem"><a href="roles">Roles</a></mat-list-item>
    <mat-list-item role="listitem"><a href="/users/view">View</a></mat-list-item> -->
    <mat-list-item role="listitem"><a href="add">Add User</a></mat-list-item>
    <!-- <mat-list-item role="listitem"><a href="delete">Delete</a></mat-list-item>
    <mat-list-item role="listitem"><a href="edit">Edit</a></mat-list-item> -->
  </mat-list>
  