<mat-card>
    <mat-card-title> Edit New User </mat-card-title>
    <mat-card-content style="margin-top: 5%;">
      <form class="example-form" [formGroup]="editUserForm" 
            *ngIf="userDetails" (submit)="updateUser()" >
              
              <mat-form-field class="example-full-width">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="name" formControlName="name"  />
              </mat-form-field>
              
              <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="email"  formControlName="email"/>
              </mat-form-field>
            <br>
              <button mat-stroked-button>Update</button>
              
      </form>
    </mat-card-content>
  </mat-card>