<h1 class="c1">{{title}}</h1>

<!-- #ngIf -->
<!-- <div class="bg-success " *ngIf="!show_success || show_success_or">
    <h2>ngIf implemented successfully!!</h2>
</div>                              -->


<!-- ngIf Else -->
<!-- <div class="bg-success " *ngIf="show_success; else errorMsg">
    <h2>ngIf implemented successfully!!</h2>
</div>
<ng-template #errorMsg>
    <h2>Else statement of *ngIf</h2>
</ng-template> -->

<!-- ngIf then else -->
<div class="bg-success " *ngIf="!show_success then then_block; else errorMsg">
</div>
<ng-template #then_block>
    <H2>then block executed !!</H2>
</ng-template>
<ng-template #errorMsg>
    <h2>Else statement of *ngIf</h2>
</ng-template>


<!-- ngFor  -->
<ul>
    <li *ngFor="let ele of contacts; index as i;first as f">
        <div *ngIf="f">this is for {{f}}</div>
         {{ i }} {{ ele.firstName }} {{ ele.lastName }} {{ ele.id }}
    </li>
</ul>

<!-- ngSwitch -->
<h3>Learning ngSwitch&nbsp;!!</h3>
<div [ngSwitch]="superPower">
    <div *ngSwitchCase="'A'">A</div>
    <div *ngSwitchCase="'B'">B</div>
    <div *ngSwitchCase="'C'">C</div>
    <div *ngSwitchCase="'D'">D</div>
    <div *ngSwitchDefault>E</div>
</div>
    

<!-- <app-list-profile>Hello</app-list-profile> -->
<router-outlet></router-outlet>
