<h1 class="c1">{{title}}</h1>


<div [innerHTML]="userObject.firstName"></div>
<div [innerHTML]="userObject.lastName"></div>

<table [ngStyle]="{'background-color':'gray'}">
    <tr>
        <td>contactId</td>
        <td>contact name</td>
        <td>contact email</td>
    </tr>
    <tr>
        <td [attr.colspan]="colVal">contactId</td>
       
        <td>contact email</td>
    </tr>
</table>


<button (click)="sayHello()">click to sayHello</button>
<h1 (mouseover)="mouseHover(1,2,3)" >Pls Mouse hover it!!</h1>

<input type="text" (focus)="inputBox()">


<input type="text" [(ngModel)]="username" />
<button (click)="changed()"  ngDefaultControl [(ngModel)]="node"> +  </button>
<button (click)="unchanged()" ngDefaultControl [(ngModel)]="node"> - </button>

<div *ngIf="node">{{ username  }} </div>
<div >{{ node  }} </div>


<!-- #ngIf -->
<!-- <div class="bg-success " *ngIf="!show_success || show_success_or">
    <h2>ngIf implemented successfully!!</h2>
</div>                              -->


<!-- ngIf Else -->
<!-- <div class="bg-success " *ngIf="show_success; else errorMsg">
    <h2>ngIf implemented successfully!!</h2>
</div>
<ng-template #errorMsg>
    <h2>Else statement of *ngIf</h2>
</ng-template> -->

<!-- ngIf then else -->
<div class="bg-success " *ngIf="!show_success then then_block; else errorMsg">
</div>
<ng-template #then_block>
    <H2>then block executed !!</H2>
</ng-template>
<ng-template #errorMsg>
    <h2>Else statement of *ngIf</h2>
</ng-template>


<!-- ngFor  -->
<ul>
    <li *ngFor="let ele of contacts; index as i;first as f">
        <div *ngIf="f">this is for {{f}}</div>
         {{ i }} {{ ele.firstName }} {{ ele.lastName }} {{ ele.id }}
    </li>
</ul>

<!-- ngSwitch -->
<h3>Learning ngSwitch&nbsp;!!</h3>
<div [ngSwitch]="superPower">
    <div *ngSwitchCase="'A'">A</div>
    <div *ngSwitchCase="'B'">B</div>
    <div *ngSwitchCase="'C'">C</div>
    <div *ngSwitchCase="'D'">D</div>
    <div *ngSwitchDefault>E</div>
</div>

<!-- ngStyle -->
<div [ngStyle]="{'background-color':'green','color':'white'}">
    This is ngStyle
</div>

<!-- css style -->
<div style="background-color:'green';color:'yellow'">
    This is inline css Style
</div>

<!-- ngStyle  dynammic-->
<div [ngStyle]="{'background-color': styleVar,'color':'white'}">
    This is dynammic ngStyle
</div>

<!-- ngStyle  dynammic conditional div-->
<div [ngStyle]="{'background-color': styleVar2 === 'red'? 'red' : 'blue','color':'white'}">
    This is conditional ngStyle div
</div>


<!-- ngClass -->
<div [ngClass]="'c1'">
    this is ngClass
</div>

<div [ngClass]="'c1 c2 c3 c4'">This is ngClass Multiple classes example</div>

<div [ngClass]="styleClsProp">This is ngClass using dynamic variable example</div>

<div [ngClass]="conditionClsProp === 'c4'? 'c4' : 'c1'">This is ngClass using conditional check example</div>

<div [ngClass]="{ c1 : true ,c4 :true}" >this is ngClass OBJect</div>

<DIV [ngClass]="getClass()"> this is ngClass by method </DIV>

<!-- <app-list-profile>Hello</app-list-profile> -->
<router-outlet></router-outlet>
